.form {
  display: flex;
  flex-direction: column;
  padding: 38px 104px;
  font-family: $secondary-font;
  line-height: 2;

  .form-title {
    font-family: $main-font;
    font-size: 39px;
  }

  .form-complete {
    .name {
      position: relative;

      & > input {
        width: 216px;
        height: 27px;
        padding-left: 28px;
        border-radius: 5px;
        border: 2px solid $secondary-color;
      }

      .icon-user {
        position: absolute;
        top: 8px;
        left: 8px;
      }

      .icon-check {
        display: none;
        position: absolute;
        top: 8px;
        left: 227px;
        color: green;
      }

      .icon-error {
        display: none;
        position: absolute;
        top: 8px;
        left: 227px;
        color: red;
      }

      & > input:valid + .icon-check {
        display: block;
      }

      & > input:invalid + .icon-error {
        display: block;
      }
    }

    .email {
      position: relative;

      & > input {
        width: 216px;
        height: 27px;
        padding-left: 28px;
        border-radius: 5px;
        border: 2px solid $secondary-color;
      }

      .icon-email {
        position: absolute;
        top: 8px;
        left: 8px;
      }
    }
  }

  .form-options {
    margin: 11px 0;

    & > select {
      width: 91px;
      height: 30px;
      font-family: $secondary-font;
      border-radius: 5px;
      border: 2px solid $secondary-color;
    }
  }

  fieldset {
    width: 405px;
    border-radius: 5px;
    border: 2px solid $secondary-color;
  }

  .message > textarea {
    width: 242px;
    border-radius: 5px;
    border: 2px solid $secondary-color;
  }

  .form-button {
    width: 103px;
    height: 38px;
    border-radius: 5px;
    color: $main-color;
    background-color: $secondary-color;
    font-family: $secondary-font;
  }
}
