.header {
  display: flex;
  background-color: #3f3f44;
  height: 69px;
  font-family: "Roboto", sans-serif;
  flex-direction: row-reverse;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 46px;
  overflow: hidden;
  z-index: 10; }
  .header .header-nav {
    padding-right: 36px; }
    .header .header-nav .header-nav-list {
      padding-right: 22px;
      position: relative; }
      .header .header-nav .header-nav-list .header-nav-list-item {
        list-style: none;
        float: right;
        margin-left: 67px;
        position: relative;
        width: 65px;
        height: 49px; }
        .header .header-nav .header-nav-list .header-nav-list-item > a > span:hover > i {
          bottom: 18px; }

.about {
  margin-top: 50px;
  padding: 89px;
  font-family: "Droid Serif", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cceabb;
  box-shadow: 10px 0px 27px 10px gray; }
  .about .about-info {
    font-size: 22px; }
  .about .about-title {
    font-family: "Roboto", sans-serif;
    font-size: 39px; }
  .about .about-img {
    width: 20%; }

.footer {
  font-family: "Droid Serif", serif;
  background-color: #3f3f44;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  color: #f7f7f7;
  font-size: 12px;
  padding: 0 0 29px 12px; }
  .footer .footer-list {
    list-style: none;
    padding-left: 0px; }
    .footer .footer-list .footer-list-item {
      margin: 8px 11px; }
      .footer .footer-list .footer-list-item > a > i {
        color: #cceabb;
        margin-right: 12px;
        font-size: 15px; }

.form {
  display: flex;
  flex-direction: column;
  padding: 38px 104px;
  font-family: "Droid Serif", serif;
  line-height: 2;
  align-items: center; }
  .form form {
    width: 90%; }
  .form .form-title {
    font-family: "Roboto", sans-serif;
    font-size: 39px; }
  .form .form-container {
    display: flex; }
    .form .form-container .form-img-container {
      width: 21%;
      padding-right: 104px;
      display: flex; }
      .form .form-container .form-img-container .form-img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .form .form-container .form-complete .name {
      position: relative; }
      .form .form-container .form-complete .name > input {
        width: 95%;
        height: 27px;
        padding-left: 28px;
        border-radius: 5px;
        border: 2px solid #cceabb; }
      .form .form-container .form-complete .name .icon-user {
        position: absolute;
        top: 8px;
        left: 8px; }
    .form .form-container .form-complete .email {
      position: relative; }
      .form .form-container .form-complete .email > input {
        width: 95%;
        height: 27px;
        padding-left: 28px;
        border-radius: 5px;
        border: 2px solid #cceabb; }
      .form .form-container .form-complete .email .icon-email {
        position: absolute;
        top: 8px;
        left: 8px; }
    .form .form-container .form-options {
      margin: 11px 0; }
      .form .form-container .form-options > select {
        width: 30%;
        height: 30px;
        font-family: "Droid Serif", serif;
        border-radius: 5px;
        border: 2px solid #cceabb; }
    .form .form-container fieldset {
      border-radius: 5px;
      border: 2px solid #cceabb; }
    .form .form-container .message > textarea {
      width: 98%;
      border-radius: 5px;
      border: 2px solid #cceabb;
      padding: 5px 5px;
      font-family: "Droid Serif", serif;
      font-size: 12px; }
    .form .form-container .form-button {
      width: 103px;
      height: 38px;
      border-radius: 5px;
      color: #3f3f44;
      background-color: #cceabb;
      font-family: "Droid Serif", serif;
      transition: 0.3s ease-in; }
      .form .form-container .form-button:hover {
        background-color: #3f3f44;
        color: #cceabb; }

.projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 44px; }
  .projects .projects-title {
    font-family: "Roboto", sans-serif;
    font-size: 39px; }
  .projects .projects-container {
    display: flex;
    justify-content: center;
    font-family: "Droid Serif", serif;
    flex-wrap: wrap; }
    .projects .projects-container .project-box {
      width: 25%;
      height: 300px;
      overflow: hidden;
      margin: 33px 56px;
      border-radius: 10px;
      padding: 40px 5px; }
      .projects .projects-container .project-box .img-container {
        height: 200px; }
        .projects .projects-container .project-box .img-container .img-project {
          width: 100%;
          height: 100%;
          object-fit: cover;
          margin: -22px 0;
          transition: 0.5s ease-in;
          filter: grayscale(74%); }
          .projects .projects-container .project-box .img-container .img-project:hover {
            filter: grayscale(0);
            transform: scale(1.1); }

.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 44px;
  background-color: #cceabb;
  box-shadow: 10px 0px 27px 10px gray; }
  .skills .skills-title {
    font-family: "Roboto", sans-serif;
    font-size: 39px; }
  .skills .container-skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 0 120px; }
    .skills .container-skills .skill-box {
      width: 15%;
      height: 200px;
      margin: 26px 11px;
      font-family: "Droid Serif", serif;
      transition: 0.3s ease-in; }
      .skills .container-skills .skill-box:hover {
        transform: translateY(-16px); }
      .skills .container-skills .skill-box > img {
        width: 100%;
        object-fit: scale-down;
        height: 100%;
        transition: 0.3s ease-in; }
        .skills .container-skills .skill-box > img:hover {
          transform: scale(1.1); }

a {
  text-decoration: none;
  color: #f7f7f7; }

.icon-skills {
  position: absolute;
  transition: 0.3s;
  bottom: -21px;
  right: 0px; }

.icon-contact {
  position: absolute;
  transition: 0.3s;
  bottom: -32px;
  right: -21px; }

.icon-project {
  position: absolute;
  transition: 0.3s;
  bottom: -21px;
  left: 77px; }

body {
  margin: 0; }

/*# sourceMappingURL=main.css.map */
